.home {
    &__button {
        background-color: transparent;
        font-family: $font-primary;
        color: $palette-primary !important;
        border: 1px solid $palette-primary;
        margin-top: 5%;
    }
}

.small-grid {
    button {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

#about {
    .skill-btn {
        background-color: $palette-btn;
        color: $palette-primary;
        border-radius: 0 !important;
        text-align: left;
        width: 100%;
        padding: 2% 5%;
        border: 0;
    }
    .tool-btn {
        background-color: $palette-btn;
        color: $palette-primary;
        border-radius: 0 !important;
        text-align: left;
        width: 100%;
        padding: 2% 5%;
        border: 0;
        border-top: 1px solid white;
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1.5s infinite;
    -moz-animation: flickerAnimation 1.5s infinite;
    -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

@media only screen and (max-width: 768px) {
    .home {
        &__button {
            background-color: transparent;
            font-family: $font-primary;
            color: $palette-primary !important;
            border: 1px solid $palette-primary;
            margin-top: 25%;
            width: 65%;
        }
    }
    .small-grid {
        button {
            text-align: center;
            position: absolute;
            bottom: 25px;
            width: 80%;
            transform: translate(-50%, 0);
        }
    }
}