.skills-info {
    border: 1px solid $palette-secondary;
    padding: 2% 5%;
    ul li {
        border-bottom: 1px solid $palette-secondary;
        padding: 8px;
        p {
            font-size: 0.9em;
            margin: 0;
        }
        p:first-child {
            font-weight: bold;
        }
    }
    ul li:last-child {
        border-bottom: 0;
    }
}