/* BASE - Base styles*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
}

button {
    outline: none !important;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0;
}

.big-text {
    font-size: 4em;
}

.right {
    float: right;
}

.left {
    float: left;
}