// Internal variables
$x-palette-purple: #4b33eb;
$x-palette-green: #9fff60;
$x-palette-dark-gray: #313439;
$x-palette-light-gray: #E1DFE1;

$primary-font: 'Open Sans Condensed', sans-serif;
$secondary-font: 'Anton', sans-serif;
// Global variables
$palette-primary: $x-palette-light-gray;
$palette-secondary: $x-palette-dark-gray;
$palette-paragraph: $x-palette-dark-gray;