// Internal variables
$x-palette-lime: #92D933;
$x-palette-violet: #991f67;
$x-palette-shadow: #666;
$x-palette-light: #fff;
$x-palette-light-gray: #E1DFE1;
$x-palette-dark-gray: #313439;
$x-palette-dark: #000;
// Global variables
$palette-primary: $x-palette-light;
$palette-secondary: $x-palette-dark-gray;
$palette-paragraph: $x-palette-dark-gray;
$palette-dark: $x-palette-dark;

$font-primary: 'Open Sans Light', sans-serif;
$font-secondary: 'Open Sans Semi Bold', sans-serif;
$font-tertiary: 'Bebas Neue Book', sans-serif;
$font-quaternary: 'Anurati Regular', sans-serif;
$font-paragraph: 'Open Sans Regular', sans-serif;