#about {
    .container-fluid {
        padding: 5% 7% 0 7%;
    }
    h3 {
        font-size: 1.8em;
    }
    a:visited {
        color: #DD4056;
    }
    .home {
        .parallax-section {
            background: url(img/header_background.jpg);
            background-attachment: fixed;
            background-position: 40% 75%;
            background-repeat: no-repeat;
            webkit-background-size: 120%;
            -moz-background-size: 120%;
            -o-background-size: 120%;
            background-size: 120%;
            min-height: 50vh;
            position: relative;
            opacity: 0.9;
        }
        &__inner {
            font-family: $font-quaternary;
            color: $palette-primary;
            position: absolute;
            top: 42%;
            left: 0;
            right: 0;
            p {
                letter-spacing: 2px;
            }
        }
        &__logo {
            width: 30%;
            margin: auto;
            margin-bottom: 5px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #about {
        margin-top: 10%;
        padding: 5%;
        padding-bottom: 0;
        .container-fluid {
            padding: 0;
        }
        img {
            margin-bottom: 10%;
        }
        p {
            text-align: center;
        }
        .home {
            .parallax-section {
                background: url(img/header_background.jpg);
                background-position: 45% 50%;
                background-repeat: no-repeat;
                webkit-background-size: 150%;
                -moz-background-size: 150%;
                -o-background-size: 150%;
                background-size: 150%;
                min-height: 35vh;
                position: relative;
                opacity: 0.9;
            }
            &__inner {
                font-family: $font-quaternary;
                color: $palette-primary;
                position: absolute;
                top: 41%;
                left: 0;
                right: 0;
                p {
                    letter-spacing: 2px;
                }
            }
            &__logo {
                width: 50%;
                margin: auto;
                margin-bottom: 5px;
            }
        }
    }
}