.wrapper {
    padding: 60px;
}

.home {
    .parallax-section {
        background: url(img/header_background.jpg);
        background-attachment: fixed;
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: 101%;
        min-height: calc(100vh - 120px);
        position: relative;
        opacity: 0.9;
    }
    &__inner {
        font-family: $font-quaternary;
        color: $palette-primary;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        h1 {
            font-size: 6em;
            letter-spacing: 10px;
        }
        p {
            letter-spacing: 2px;
        }
    }
    &__lang {
        font-size: 0.5em;
        display: inline-block;
        margin-top: 15px;
    }
    &__sections {
        float: right;
        a {
            background-color: transparent !important;
            color: $palette-primary;
            opacity: 0.5;
            transition: opacity 0.5s ease;
        }
        a:hover {
            opacity: 1;
        }
    }
}