.navbar-header {
    .navbar-brand {
        opacity: 1;
        img {
            height: 28px;
            margin-top: -5px;
        }
    }
    span {
        color: white;
        opacity: 0.6;
    }
    a {
        color: $palette-primary;
        opacity: 0.5;
        transition: opacity 0.5s ease;
    }
    a:hover {
        text-decoration: none;
        opacity: 1;
    }
    a:active {
        opacity: 1;
    }
}

.navbar-fixed {
    width: 100%;
    background: white;
    z-index: 10;
    position: fixed;
    a,
    span {
        font-size: 0.9em;
    }
    .container-fluid {
        display: flex;
        justify-content: space-between;
        padding: 18px 65px;
    }
    .container-fluid::before,
    .container-fluid::after {
        content: normal;
    }
}